
/* ****************** Nav Bar ****************** */

nav {
  background-color: #0f0638;
  background-attachment: fixed;
  /* background-size: cover;
  background-attachment: fixed;
  background-size: cover;*/
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 4px 4px 4px grey;
  margin-bottom: .4em;
}
.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.NewSongButton, .newSongLink{
  color: black;
  font-size: 1.3em;
}

.songsLink{
  font-size: 1.5em;
  background-image: url("./Images/musicSignwithWaterMark.png");
  border: 1px solid seagreen;
  color: antiquewhite;
  padding: .5em;
  border-radius: 25% 10%;
}

.homeLink{
  font-weight: bold;
  font-size: 1.5em;
}

/* ****************** Home Page ****************** */

.welcomeBkgrd{
background-color: rgba(0, 0, 255, 0.475);
width: 700px;
height: 160px;
border: 8px solid rgb(245, 109, 24);
/* border-radius: 45% 10%;; */
}

.welcomeMsg1{
  font-size: 2em;
  color: yellow;
  margin-left: .5vw;
  background-color: rgba(0, 0, 128, 0.49);
}
.welcomeMsg2{
  font-size: 1.5em;
  color:greenyellow;
  margin-left: 12vw;
}

.welcomeIcon {
  font-size: 1.8em;
  margin-left: 2vw
}

.welcomeIcon, .welcomeIcon2, .welcomeIcon3{
  font-size: 1.8em;
  margin-left: 1vw
}


.homePage{
  background-image: url("./Images/femaleGuitarist.png");
  width: 99vw;
  height: 100vw;
  background-size:cover;
  margin-left: -5vw ;
}

.newPage{
  background-image: url("./Images/rockHitsBandLarge.png");
  width: 99vw;
  height: 100vw;
  /* background-size:contain; */
  margin-left: -5vw ;
}

.indexPage{
  background-image: url("./Images/michaelJacksonArtsy2.png");
  width: 99vw;
  height: 100vw;
  background-size:cover;
  margin-left: -5vw ;
}

.songsIndex{
  background-color: rgba(189, 29, 29, 0.564) ;
  width: 50vw;
  height: 40vw;
  background-size:cover;
  font-size: 1.5em;
  color: #0f0638;
  border: 10px solid blue;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #cac4ce;
}
button a {
  color: antiquewhite;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

/* .New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; 
} */

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

